@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
        /* COLORS */
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}
/* ==========  RESET & HELPERS ==========  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white);
}

a { 
    color: var(--body);
    text-decoration: none;
}

a:hover { color: var(--brand);}

.link-more {
    display: inline-flex;
    align-items: center;
    font-size: .8125rem;
    font-weight: 600;
    text-transform: uppercase;
    left: .0625rem;
}

.link-more .icon {
    transition: all 0.4s ease;
}

.link-more:hover .icon {
    transform: translateX(.5rem);
}

img {
    width: 100%;
}

section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

/* ==========  INTRO ==========  */
.intro {
    margin-bottom: 3.75rem;
}

.intro h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.intro h6 {
    color: var(--brand);
}

.intro p {
    max-width: 31.25rem;
    margin: auto;
}

/* ==========  NAVBAR ==========  */
.navbar {
    background: linear-gradient(to bottom, #1B1F34, rgba(27, 31, 52, 0.2))
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

.navbar-brand {
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}


/* ==========  HERO ==========  */
#hero {
    background: linear-gradient(to right, #1B1F34, rgba(27, 31, 52, 0.0)), url(../img/cover_1.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#hero p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* ==========  BTN ==========  */
.btn {
    padding: 1rem 2.25rem;
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease;
    border-radius: 0;
}

.btn-brand {
    background-color: var(--brand);
}

.btn-brand:hover {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand {  
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand:hover {
    background-color: var(--brand);
}

/* ==========  ABOUT ==========  */
#about {
    position: relative;
}

#about::after {
    content: '';
    width: 25%;
    height: 100%;
    background-color: var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#about h6 {
    color: var(--brand);
}

#about h1 {
    margin-top: 1rem;
    margin-bottom: 1.5rem
}

#about .signature {
    width: unset;
}

/* ==========  SERVICES ==========  */
#services {
    background-color: var(--bg2);
}

#services .service .content {
    padding: 2rem;
}

#services .service p {
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
}


